.ahref a{
    color: white;
}
.ahref {
    height: 50px;
    background-color: #333333;
    padding: 20px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
}
.textt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.wrapper {
    height: 100vh;
    display: grid;
    grid-template-areas:
    "header"
    "main"
    "footer";
}
.fname {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}
.lname {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}
.choose {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding: 20px;
}
.textarea {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    height: 170px;
}
label {
    font-weight: bold;
    margin-bottom: 0.5rem;
    display: inline-block;
    cursor: default;
}
.ez img{
    width: 100px;
    height: 100px;
}
body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}
.send {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding: 20px;
}
footer {
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

nav ul>li:not(:first-child) {
    padding-left: 20px;
}
nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

